.flex{
  display:flex;
}
.items-center{
  align-items: center;
}
.justify{
  justify-content: space-between;
}
.btn{
  padding: .4rem 1rem;
  font-size: 1rem;
  font-weight: hsl(360, 100%, 100%);
  border: 3px solid transparent;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}
.btn-primary{
  background-color: LightGreen;
  color:white;

}
.btn-primary:hover{
  background:transparent;
  border-color: LightGreen;
  transition: all .5s ease;
}
.fl1{
  flex: 1;
}
.justify-center{
  justify-content: center;
}
